/* Artfully masterminded by ZURB  */
/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.f-container {
    width: 100%;
    background-color: #00aedb;
}

.f-container-white {
    width: 100%;
    background-color: #ffffff;
}
.f-container-blue {
    width: 100%;
    background-color: #00aedb;
}
.f-container-lg {
    width: 100%;
    background-color: #edeeef;
}
.f-container-lb {
    width: 100%;
    background-color: #00aedb;
}
@media only screen and (min-width: 769px) {
    .f-container-footer {
        width: 100%;
        background-color: #6a717a;
        padding: 0 0 20px 0;
    }
}
@media only screen and (max-width: 768px) {
    .f-container-footer {
        width: 100%;
        background-color: #6a717a;
        padding: 50px 0 20px 0;
    }
}
.f-container-footer-cta {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: 180px;
    background: url('/images/html/footer-cta-bg.png') repeat-x;
    background-color: #6a717a;
}
.f-container-footer-cta-grey {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: 90px;
    background: url('/images/html/footer-cta-bg-grey.png') repeat-x;
    background-color: #6a717a;
}
.f-container-footer ul.social-footer-links li span.social-link {
    position: absolute;
    margin: 0 0 0 8px;
}
.f-container-footer ul.social-footer-links li img {
    margin: -4px 0 0 0;
}
.f-container-footer ul.social-footer-links li span.social-link:hover {
    text-decoration: underline;
}
.home-news-vertical ul.home-events-list li img.home-news-icon {
    margin: 3px 0 0 0;
}
.home-news-vertical ul.home-events-list li.has-icon span {
    margin: 0 0 0 20px;
}
.home-news-vertical ul.home-events-list li span.home-events-list a {
    color: #707070;
}
.home-news-vertical ul.home-events-list li span.home-events-list a:hover {
    color: #707070;
    text-decoration: underline;
}
.home-news-vertical ul.home-events-list li span.home-events-list a:visited {
    color: #707070;
}
.f-container-section-cta1 {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: 180px;
    background: url('/images/html/section-cta-bg2.png') repeat-x;
    background-color: #ffffff;
}
.f-container-section-cta1-lb {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: 180px;
    background: url('/images/html/section-cta-bg2-lb.png') repeat-x;
    background-color: #ffffff;
}
.f-container-section-cta {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: 180px;
    background: url('/images/html/section-cta-bg.png') repeat-x;
    background-color: #edeeef;
}
.f-container-section-screens {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    max-height: 354px;
    background: url('/images/html/home-section-screens-bg.png') repeat-x;
    background-color: #edeeef;
}

p.section-screens {
    margin: 0 auto;
    padding: 0;
    max-width: 917px;
    height: 354px;
    margin-left:auto;
    margin-right:auto;
}

@media only screen and (min-width: 769px) {
    p.section-screens {
        background: url('/images/html/home-section-screens-small.png') no-repeat;
        background-size: 100%;
    }
}

@media only screen and (max-width: 768px) {
    p.section-screens-small {
        margin: 0 auto;
        padding: 0;
        max-width: 917px;
        max-height: 354px;
        margin-left:auto;
        margin-right:auto;
    }
}

a.cta-button-style {
    letter-spacing: 0em;
    margin: 0 0 0 10px;
    font-weight: 400;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    white-space:nowrap;
    background: #ff6c00; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff6c00 0%, #e25000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6c00), color-stop(100%,#e25000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff6c00 0%,#e25000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff6c00 0%,#e25000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff6c00 0%,#e25000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff6c00 0%,#e25000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6c00', endColorstr='#e25000',GradientType=0 ); /* IE6-9 */
}

@media only screen and (min-width: 769px) {
    a.cta-button-style {
        padding: 15px 25px 15px 25px;
    }
}
@media only screen and (max-width: 768px) {
    a.cta-button-style {
        padding: 5px 15px 5px 15px;
    }
}

a.cta-button-style:hover {
    background: -moz-linear-gradient(top,  #e25000 0%, #ff6c00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e25000), color-stop(100%,#ff6c00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e25000 0%,#ff6c00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e25000 0%,#ff6c00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e25000 0%,#ff6c00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e25000 0%,#ff6c00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e25000', endColorstr='#ff6c00',GradientType=0 ); /* IE6-9 */
}
a.cta-button-style:hover {
    color: #ffffff;
    text-decoration: none;
}
a.cta-button-style:visited {
    color: #ffffff;
    text-decoration: none;
}
@media only screen and (min-width: 769px) {
    p.footer-cta a.cta-button-style {
        font-size: 0.9em;
    }
    p.footer-cta {
        display: block;
        font-weight: 200;
        color: #ffffff;
        max-width: 670px;
        margin-top: 10px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        background-color: #3a464f;
        font-size: 1.95em;
        padding: 40px 30px 40px 30px;
        -moz-border-radius: 15px; /* Firefox */
        -webkit-border-radius: 15px; /* Safari, Chrome */
        -khtml-border-radius: 15px; /* KHTML */
        border-radius: 15px; /* CSS3 */
    }
    p.footer-cta-desktop a.cta-button-style {
        font-size: 0.9em;
    }
    p.footer-cta-desktop {
        display: block;
        font-weight: 200;
        color: #ffffff;
        max-width: 670px;
        margin-top: 10px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        background-color: #3a464f;
        font-size: 1.95em;
        padding: 40px 30px 40px 30px;
        -moz-border-radius: 15px; /* Firefox */
        -webkit-border-radius: 15px; /* Safari, Chrome */
        -khtml-border-radius: 15px; /* KHTML */
        border-radius: 15px; /* CSS3 */
    }
    p.footer-cta-mobile {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    p.footer-cta a.cta-button-style {
        font-size: 0.8em;
    }
    p.footer-cta {
        font-size: 1.5em;
        display: block;
        font-weight: 200;
        color: #ffffff;
        max-width: 670px;
        margin-top: 10px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        line-height: 1.7em;
        background-color: #3a464f;
        padding: 20px 10px 20px 10px;
        -moz-border-radius: 15px; /* Firefox */
        -webkit-border-radius: 15px; /* Safari, Chrome */
        -khtml-border-radius: 15px; /* KHTML */
        border-radius: 15px; /* CSS3 */
    }
    p.footer-cta-mobile a.cta-button-style {
        font-size: 0.8em;
    }
    p.footer-cta-mobile {
        font-size: 1.5em;
        display: block;
        font-weight: 200;
        color: #ffffff;
        max-width: 670px;
        margin-top: 10px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        line-height: 1.7em;
        background-color: #3a464f;
        padding: 20px 10px 20px 10px;
        -moz-border-radius: 15px; /* Firefox */
        -webkit-border-radius: 15px; /* Safari, Chrome */
        -khtml-border-radius: 15px; /* KHTML */
        border-radius: 15px; /* CSS3 */
    }
    p.footer-cta-desktop {
        display: none;
    }
}
@media only screen and (max-width: 380px) {
    p.footer-cta a.cta-button-style {
        font-size: 0.8em;
    }
    p.footer-cta {
        font-size: 1.2em;
        display: block;
        font-weight: 200;
        color: #ffffff;
        max-width: 670px;
        margin-top: 10px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        line-height: 1.7em;
        background-color: #3a464f;
        padding: 20px 10px 20px 10px;
        -moz-border-radius: 15px; /* Firefox */
        -webkit-border-radius: 15px; /* Safari, Chrome */
        -khtml-border-radius: 15px; /* KHTML */
        border-radius: 15px; /* CSS3 */
    }
}
@media only screen and (min-width: 999px) {
    img.cs-card-bg {
        width: 333px;
        height: 420px;
    }
}
@media only screen and (max-width: 998px) {
    img.cs-card-bg {
        max-width: 270px;
        height: 360px;
    }
}
p.footer-copyright-text a {
    color: #515151;
}
p.footer-copyright-text a:hover {
    color: #515151;
}
.f-footer h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 200;
    color: #b7b7b7;
    margin: 10px 0 20px 0;
}

.f-footer ul li {
    margin: 0 0 12px 0;
}

.f-footer ul li a {
    font-size: 1.1em;
    text-decoration: none;
    color: #e1e1e1;
}

.f-footer ul li a:hover {
    text-decoration: underline;
    color: #e1e1e1;
}
.f-footer {
    margin-left:auto;
    margin-right:auto;
    padding: 0 0 40px 0;
    max-width: 1000px;
    background-color: #6a717a;
}

.f-top-bar {
    color: #ffffff;
    font-size: 1em;
    padding-top: 5px;
    margin: 0 100px 0 100px;
}

.f-top-bar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    padding-top: 5px;
}

.f-top-bar ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
    font-size: 1em;
    padding-top: 5px;
}

.f-top-bar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.f-top-bar ul li {
    position: relative;
    font-weight: 600;
    font-size: 1.1em;
    display: inline;
    margin: 0 20px 0 0;
}
.f-top-bar img.top-nav-bar-icon {
    position: relative;
    top: 3px;
    right: 5px;
}
form#search-form {
    height: 21px;
    background-color: #00aedb;
    margin: 0 auto;
    padding: 0;
}
input.f-search {
    font-size: 0.9em;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
    width: 220px;
    height: 21px;
}

input.f-submit {
    position: absolute;
    margin: -29px 0 0 -20px;
    height: 14px;
}
@media only screen and (max-width: 999px) {
    .f-header {
        display: none;
    }
    .f-top-nav {
        display: none;
    }
    .f-top-nav-small {
        max-height: 103px;
        background-color: #f9f9f9;
        background-image:url('/images/html/top-nav-home-texture.png');
    }
    .f-top-nav-small img.apm-nav-logo {
        height: 62px;
        width: 236px;
        margin-left: 10px;
        margin-bottom: 25px;
    }
    .f-top-nav-inner {
        z-index: inherit;
        margin-left:auto;
        margin-right:auto;
        width: 100%;
    }
    .f-carousel {
        display: none;
    }
    .f-carousel-small {
        width: 100%;
        background-color: #3b3b3b;
        padding-bottom: 40px;
    }
    .hero-subhed-small h1 {
        text-align: center;
        position: relative;
        font-size: 1.8em;
        font-weight: 200;
        line-height: 1em;
        color: #ffffff;
        padding: 20px;
        margin-top: -25px;
        z-index: 100;
    }
    .hero-hed-small h2 {
        text-align: center;
        position: relative;
        font-size: 2.6em;
        font-weight: 300;
        color: #ffffff;
        padding: 20px;
        z-index: 100;
    }
    .hero-image-small img.hero-devices {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: -70px;
        z-index: 10;
    }
    .hero-cta-small {
        position: relative;
        font-size: 1.6em;
        z-index: 100;
    }
    .hero-cta-small h3 {
        text-align: center;
        color: #ffffff;
        font-weight: 200;
        letter-spacing: -0.05em;
    }
    .hero-cta-small h3 a {
        font-size: 1.0em;
    }
}
@media only screen and (min-width: 1000px) {
    #mobile-menu {
        display: none;
    }
    .f-header {
        margin-left:auto;
        margin-right:auto;
        max-width: 1200px;
        height: 31px;
        background-color: #00aedb;
        text-align: right;
    }
    .f-top-nav-inner {
        z-index: inherit;
        margin-left:auto;
        margin-right:auto;
        width: 1000px;
    }
    .f-top-nav {
        height: 103px;
        background-image:url('/images/html/top-nav-home-texture.png');
        background-repeat:no-repeat;
        background-position:center;
        margin-left:auto;
        margin-right:auto;
        background-color: #e9eaea;
    }
    .f-top-nav-small {
        display: none;
    }
    .f-carousel {
        width: 100%;
        height: 487px;
        background-color: #e9eaea;
        background-image:url('/images/html/home-carousel-bg.jpg');
        background-repeat:no-repeat;
        background-position:center;
    }
    .f-carousel-small {
        display: none;
    }
    .f-carousel-inner {
        position: relative;
        margin-left:auto;
        margin-right:auto;
        width: 1200px;
    }
}
.apm-nav-logo {
    margin: 25px 0 0 0px;
}
@media only screen and (min-width: 769px) {
    p.footer-copyright-text {
        font-size: 1em;
        font-weight: 300;
        padding-top: 15px;
        padding-bottom: 250px;
        line-height: 1.8em;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 768px) {
    p.footer-copyright-text {
        font-size: 1em;
        font-weight: 300;
        padding-top: 15px;
        padding-bottom: 20px;
        line-height: 1.8em;
        margin: 0 auto;
    }
}
/* -----------------------------------------
   Home Page
----------------------------------------- */
.hero-subhed {

}
.hero-subhed h1 {
    position: absolute;
    font-size: 2em;
    margin: 220px 0 0 100px;
    font-weight: 200;
    line-height: 1.3em;
}
.hero-hed {

}
.hero-hed h2 {
    position: absolute;
    font-size: 3.3em;
    margin: 100px 0 0 100px;
    font-weight: 300;
}
.hero-image {
    position: absolute;
    margin: -52px 0 0 510px;
    width: 627px;
    height: 546px;
    background-image:url('/images/html/hero_devices_sm.png');
    background-size: 100%;
}
.hero-image image.hero-devices {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.hero-cta {
    position: absolute;
    font-size: 2.6em;
    margin: 412px 0 0 107px;
}
.hero-cta h3 {
    font-weight: 200;
    letter-spacing: -0.05em;
}
.hero-cta h3 a {
    font-size: 0.75em;
}

.f-content h1 {
    font-size: 2.7em;
    color: #3b464f;
    letter-spacing: -0.035em;
    margin: 30px 0 0.6em 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.f-content h2, .f-content-1 h2, .f-content-1-lg h2 {
    color: #2fa6de;
    font-weight: 100;
    font-size: 2.5em;
    font-weight: 300;
    font-size: 2.35em;
    text-align: left;
    margin: 0 0 0.2em 0;
}

.f-content h2.s-top-margin {
    margin-top: 30px;
}
.f-content h3 {
    font-size: 1.75em;
    font-weight: 200;
    margin: 0 0 2.1em 0;
    color: #666666;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.f-content p {
    font-size: 1.3em;
    font-weight: 400;
    text-align: left;
    margin: 0 0 1.5em 0;
}

.f-content-1 p, .f-content-1-lg p {
    font-weight: 400;
    text-align: left;
    margin: 0 0 1.5em 0;
}

.f-content .quicklinks {
    background-color: #f1f1f1;
    padding: 25px 20px 5px 20px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
}

h1.home-section-header {
    font-size: 2.7em;
    color: #3b464f;
    letter-spacing: -0.035em;
    margin: 30px 0 0 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3.home-section-header {
    font-size: 1.75em;
    font-weight: 200;
    margin: 10px 0 0 0;
    color: #666666;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
h1.home-section-header-white {
    font-size: 2.7em;
    color: #ffffff;
    letter-spacing: -0.035em;
    margin: 30px 0 0 0;
    padding: 0 20px 0 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h3.home-section-header-white {
    font-size: 1.75em;
    font-weight: 200;
    margin-top: 10px;
    padding: 0 20px 0 20px;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}
h4.home-section-header-white {
    font-size: 1.4em;
    font-weight: 400;
    margin: 40px 0 0 0;
    padding: 0 20px 0 20px;
    color: #ffffff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    font-weight: 300;
    line-height: 1.6em;
    letter-spacing: 0.05em;
}
h4.home-section-header {
    font-size: 1.4em;
    font-weight: 400;
    margin: 40px 0 0 0;
    padding: 0 20px 0 20px;
    color: ##666666;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    font-weight: 300;
    line-height: 1.6em;
    letter-spacing: 0.05em;
}
h3.home-section-header-h {
    font-size: 1.5em;
    font-weight: 600;
    margin: 70px 0 10px 0;
    color: #666666;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

p.home-section-header-p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.9em;
    padding: 0 0 80px 0;
}

h3.home-section-header-h3 {
    font-size: 1.6em;
    font-weight: 400;
    margin: 70px 0 20px 0px;
    color: #666666;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

h3.home-section-header {
    font-size: 1.75em;
    font-weight: 200;
    margin: 10px 0 0 0;
    color: #666666;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

p.home-section-quote {
    font-family: Georgia, serif;
    font-size: 1.6em;
    font-style:italic;
    font-weight: light;
    line-height: 1.4em;
    margin: 10px 0 10px 0;
    color: #606060;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}

p.home-section-quote-src {
    font-family: Georgia, serif;
    font-size: 1.2em;
    font-style:italic;
    margin: 10px 0 0 0;
    color: #606060;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

h3.home-section-header-long {
    font-size: 1.75em;
    font-weight: 200;
    margin: 10px 0 0 0;
    color: #666666;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.f-content-1 {
    display: block;
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
}

.f-content-1 .thrving-image-left, .thrving-image-right {
    max-width: 500px;
}

@media only screen and (min-width: 769px) {
    .f-content-1 img.thrving-image-left, img.thrving-image-right {
        display: block;
        margin-left:auto;
        margin-right:auto;
        border-right: 1px solid #7f7f7f;
    }
}
@media only screen and (max-width: 768px) {
    .f-content-1 img.thrving-image-left, img.thrving-image-right {
        display: block;
        margin-left:auto;
        margin-right:auto;
        border-right: 0px solid #ffffff;
        margin-bottom: 20px;
    }
}
.f-content-1 img.thrving-image-rightb {
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-right: 0px solid #ffffff;
}
.f-content-full-width {
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
}

#about-page-what-we-make {
    background: url('/images/html/about-us-what-we-make-bg.png') repeat-x;
    background-position:center;
    height: 528px;
}

#jobs-page-departments {
    background: url('/images/html/jobs_hero.jpg') repeat-x;
    background-position:center;
    height: 528px;
}

#feature-page-top-video {
    text-align: center;
    margin: 0 0 2em 0;
    padding: 0;
}

.modal_image_display {
    text-align: center;
    margin: 0 0 1em 0;
}

.modal_image_display p.button_overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#feature-page-top-video p#feature-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
#feature-page-top-video p#feature-overlay img {
    max-width: 50%;
    max-height: 50%;
}
.f-content {
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
}
.f-content-1 {
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding: 0 0 70px 0;
    max-width: 1000px;
}
.f-content img.f-home-collage-imagestyle {
    display: block;
    margin-left:auto;
    margin-right:auto;
}
@media only screen and (min-width: 769px) {
    .f-home-collage-small {
        display: none;
    }
    .f-home-collage {
        max-width: 970px;
        height: 346px;
        background: url('/images/html/img_customerCollage.jpg') no-repeat;
        background-size: 100%;
    }
    .f-home-collage-thankyou {
        max-width: 970px;
        height: 320px;
        background: url('/images/html/img_customerCollage.jpg') no-repeat;
        background-size: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .f-home-collage {
        display: none;
    }
    .f-home-collage-thankyou {
        display: none;
    }
}
.lg-background-full-width {
    background-color: #edeeef;
}

.f-content-1-lg {
    margin-left:auto;
    margin-right:auto;
    padding: 0 0 70px 0;
    background-color: #edeeef;
    max-width: 1000px;
}
.f-content-1-lb {
    margin-left:auto;
    margin-right:auto;
    padding: 0 0 70px 0;
    background-color: #00aedb;
    max-width: 1000px;
}
.f-content-lg {
    margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
    background-color: #edeeef;
}
.f-content-lb {
    margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
    background-color: #00aedb;
}
.f-content-1 div {
    margin: 0;
    padding: 0;
}
.f-content-1-lg div {
    margin: 0;
    padding: 0;
}
.f-content-1-lg ul {
    margin: 40px 0 20px 0;
}
.f-content-1-lg ul li {
    text-align: left;
    color: #707070;
    font-size: 1.5em;
    font-weight: 400;
    margin: 35px 0 0 70px;
}
.f-content-1-lg ul li img {
    position: absolute;
    margin: -10px 0 0 -65px;
}
.home-news-vertical ul {
    margin-top: 15px;
    margin-bottom: -10px;
}
.home-news-vertical ul li {
    font-size: 1.05em;
    margin: 0 auto;
    margin-bottom: 5px;
    font-weight: 400;
}
.f-content-1-lg div.f-home-third-width-box {
    padding: 0 15px 0 15px;
    height: 280px;
}

.f-content-1-lg div.f-home-third-width-box {
    padding: 0 15px 0 15px;
    height: 280px;
}

.link-to-in-sections {
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}
.link-to-in-sections p {
    margin-top: 30px;
    text-align: right;
}
.link-to-in-sections p a.link-to-in-sections {
    font-size: 0.9em;
    font-weight: 600;
    color: #ffffff;
    text-align: right;
    background-color: #00AEDB;
    padding: 5px 13px 3px 13px;
    margin-right: 10px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
.link-to-in-sections p a.link-to-in-sections:hover {
    color: #ffffff;
    background-color: #34c5eb;
    text-decoration: none;
}
p.third-section-link {
    position: absolute;
    bottom: 0;
    right: 0;
}
a.f-home-webinar-href {
    font-size: 0.9em;
    font-weight: 600;
    color: #ffffff;
    text-align: right;
    background-color: #e85b00;
    padding: 5px 13px 3px 13px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
a.f-home-webinar-href:visited {
    color: #ffffff;
    background-color: #e85b00;
    text-decoration: none;
    padding: 5px 13px 3px 13px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
a.f-home-webinar-href:hover {
    color: #ffffff;
    background-color: #f47d31;
    text-decoration: none;
    padding: 5px 13px 3px 13px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
.featured-webinar-home img.f-home-webinar-image, img.f-home-webinar-image {
    margin: 0 10px 10px 0;
    -moz-border-radius: 8px; /* Firefox */
    -webkit-border-radius: 8px; /* Safari, Chrome */
    -khtml-border-radius: 8px; /* KHTML */
    border-radius: 8px; /* CSS3 */
    max-width: 70px;
    max-height: 70px;
}
p.f-home-webinar-link {
    margin: 5px 0 0 0;
}
ul.f-home-upcoming-webinars {
    margin-top: 20px;
    padding: 10px 0 0 0;
    border-top: 1px solid #cccccc;
}
ul.f-home-upcoming-webinars li {
    margin: 0 0 5px 0;
}
span.f-home-events-date {
    float: left;
    font-family: Georgia, serif;
    font-weight: 600;
    min-width: 55px;
    margin: 0 10px 0 0;
}
span.events-upcoming-month {
    background-color: #999;
    color: #fff;
}
@media only screen and (max-width: 768px) {
    .center-content {
        text-align: center;
    }
    a.hide-on-mobile {
        display: none;
    }
    p.hide-on-mobile {
        display: none;
    }
    div.hide-on-mobile {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    div.hide-on-desktop {
        display: none;
    }
    p.hide-on-desktop {
        display: none;
    }
}

/* -----------------------------------------
   Case Studies Page
----------------------------------------- */

.features-read-more p {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff08d;
    padding:8px 5px 5px 5px;
    text-align: center;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
.features-read-more p img {
    position: relative;
    top: 3px;
    margin: 0 10px 0 0;
}

/* -----------------------------------------
   Pricing Page
----------------------------------------- */
.pricing-table {
    border: 0px;
    background-color: none;
    max-width: 650px;
}

.pricing-table table {
    width: 100%;
}

.pricing-table td {
    border: 1px solid #cccccc;
    vertical-align: middle;
}
.pricing-table table tr td.pricing-table-prices {
    font-family: Georgia, serif;
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #282828;
    text-align: center;
}
.pricing-table table tr td.pricing-table-prices span.per-month-price {
    font-family: Georgia, serif;
    font-size: 3.5em;
}
.pricing-table table tr td.pricing-table-prices span.per-month {
    font-family: Georgia, serif;
    font-size: 1.2em;
}
.pricing-table table tr td.pricing-table-prices span.volume-discount {
    font-family: Georgia, serif;
    font-size: 1em;
    color: #cccccc;
}
.pricing-table table tr td.pricing-table-included {
    font-family: Georgia, serif;
    width: 14%;
    font-size: 1em;
    color: #ffffff;
    background-color: #87aa24;
    white-space: nowrap;
}
.pricing-table table tr td.pricing-table-prices img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* -----------------------------------------
   Case Studies Page
----------------------------------------- */

#content blockquote.client-quotes {
    background-color: #ffffff;
    margin: 20px 0 30px 0;
}
#content blockquote.client-quotes p {
    text-align: left;
}
#content blockquote.client-quotes p.author {
    text-align: right;
}
#content ul.casestudies-links {
    margin: 0 0 20px 0;
}
#content ul.casestudies-links li {
    font-size: 1.1em;
    list-style-type: circle;
    margin: 0 0 0 20px;
}
#content #casestudy-video-player {
    display: block;
    vertical-align: middle;
    background-color: #333;
    padding: 10px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
#content #casestudy-video {
    display: block;
    vertical-align: bottom;
    padding: 20px 0 0 0;
    margin: 0 auto;
}
#content #casestudy-video-list {
    display: block;
    vertical-align: middle;
    padding: 10px 0 0 0;
    margin: 0 auto;
}
#content ul.casestudy-video-list {
    padding: 10px 0 0 0;
}
#content ul.casestudy-video-list li {
    color: #ffffff;
    padding: 1px 7px 0px 7px;
    max-width:100%;
}
#content ul.casestudy-video-list li:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #729b00;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
h3.cs-solution-label {
    font-size: 1.8em;
    text-transform:uppercase;
    text-align: left;
    color: #a1a1a1;
    font-weight: 200;
    letter-spacing: 0.1em;
    margin: 40px 0 10px 10px;
}
h3.cs-solutions-header {
    color: #3e4852;
    font-weight: 200;
    font-size:1.6em;
    margin-top: 18px;
    margin-bottom: 0px;
}
@media only screen and (min-width: 769px) {
    h3.cs-solutions-header {
        text-align: right;
    }
}
@media only screen and (max-width: 768px) {
    h3.cs-solutions-header {
        text-align: center;
    }
}
.cs-cards-container {
    position: relative;
    margin: auto;
    text-align: center;
}
.cs-cards {
    display: block;
    text-align: center;
    margin: auto;
    background-color: #ffffff;
    max-width: 313px;
    max-height: 390px;
    -moz-border-radius: 12px; /* Firefox */
    -webkit-border-radius: 12px; /* Safari, Chrome */
    -khtml-border-radius: 12px; /* KHTML */
    border-radius: 12px; /* CSS3 */
    -moz-box-shadow: 0 0 12px #c7c7c7;
    -webkit-box-shadow: 0 0 12px #c7c7c7;
    box-shadow: 0 0 12px #c7c7c7;
}
@media only screen and (max-width: 998px) {
    .cs-cards-container {
        margin-left: -35px !important;
    }
    .cs-cards {
        width: 95%;
        max-width: 300px;
    }
    p.cs-card-quote {
    }
}

@media only screen and (max-width: 767px) {
    .cs-cards-container {
        margin-left: 0px !important;
        margin-top: -20px !important;
        margin-bottom: -20px !important;
    }
}
.cs-card {
    min-width: 333px;
    min-height: 420px;
}
.cs-card-bg {
    position: relative;
    z-index: 10;
    margin-left: auto !important;
    margin-right: auto !important;
}
p.cs-card-quote {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
    font-size: 1.5em;
    color: #5f686d;
    font-style:italic;
    margin-top: -235px;
    margin-bottom: 0;
    padding: 0 60px 0 60px;
    letter-spacing: -0.055em;
    line-height: 1.35em;
    z-index: 10;
}
p.cs-card-quote2 {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-family: Georgia, serif;
    font-size: 1.5em;
    color: #5f686d;
    font-style:italic;
    padding: 0 55px 0 55px;
    letter-spacing: -0.055em;
    line-height: 1.35em;
    z-index: 10;
}
@media only screen and (max-width: 998px) {
    p.cs-card-quote {
        margin-top: -205px;
        font-size: 1.2em;
    }
    p.cs-card-quote2 {
        font-size: 1.3em;
    }
}
p.cs-card-title {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
    font-size: 0.9em;
    color: #7b8084;
    font-style:italic;
    margin-top: 10px;
    padding: 0 60px 0 60px;
    letter-spacing: -0.02em;
    line-height: 1.35em;
    z-index: 10;
}
ul.cs-solutions-sort {
    text-align: center;
    margin-top: -20px;
    font-size: 1.2em !important;
    color: #3e4852;
    font-weight: 200;
}
ul.cs-solutions-sort li {
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
}
ul.cs-squares li {
    display: inline;
    margin: 0 auto;
    padding: 0;
    height: 239px;
    width: 239px;
}
ul.cs-squares-html {
    display: block;
}
ul.cs-squares-html li {
    display: block;
}
ul.cs-squares-html li div.cs-square-html-content {
    display: block;
    float: left;
    text-align: center;
    margin: 12px;
    height: 216px;
    width: 218px;
    border: 1px solid #d0d0d0;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    -khtml-border-radius: 3px; /* KHTML */
    border-radius: 3px; /* CSS3 */
    -moz-box-shadow: 0 0 6px #c7c7c7;
    -webkit-box-shadow: 0 0 6px #c7c7c7;
    box-shadow: 0 0 6px #c7c7c7;
}
ul.cs-squares-html li div.cs-square-html-content img {
    margin: 8px 0 8px 0;
    border-bottom: 1px solid #d5d5d5;
}
ul.cs-squares-html li div.cs-square-html-content h5 {
    font-size: 1em;
    font-weight: 1000;
    text-align: center;
    color: #4e565e;
    margin: 5px 0 0 0;
}
ul.cs-squares-html li div.cs-square-html-content p {
    font-size: 1em;
    text-align: center;
    color: #4e565e;
    margin-top: 2px;
    line-height: 1.3em;
}
ul.cs-squares-html li div.cs-square-html-content h5 a {
    text-decoration: none;
    color: #4e565e;
}
ul.cs-squares-html li div.cs-square-html-content h5 a:hover {
    text-decoration: none;
    color: #4e565e;
}
ul.cs-squares-html li div.cs-square-html-content h5 a:visited {
    text-decoration: none;
    color: #4e565e;
}
ul.cs-squares-html li div.cs-square-html-content p a {
    text-decoration: none;
    color: #4e565e;
}
ul.cs-squares-html li div.cs-square-html-content p a:hover {
    text-decoration: none;
    color: #4e565e;
}
ul.cs-squares-html li div.cs-square-html-content p a:visited {
    text-decoration: none;
    color: #4e565e;
}
@media only screen and (max-width: 767px) {
    ul.cs-squares-html {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    ul.cs-squares-html li {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}

.cs-solutions-divider {
    width: 100%;
    clear: both;
}
/* -----------------------------------------
   Events Calendar Page
----------------------------------------- */

iframe.events-map {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    width: 100%;
    height: 350px;
    border: 0px;
}

@media only screen and (max-width: 767px) {
    iframe.events-map {
        display: none;
    }
    .map-legend {
        display: none;
    }
}

/* -----------------------------------------
   Pricing Page
----------------------------------------- */
.pricing-badge {
    background: url("/images/html/pricing_sprite.png") no-repeat 0 0;
    display: block;
    height: 268px;
    margin: 0 auto;
    text-align: center;
    width: 227px;
}
.pricing-info p {
    text-align: center;
}
.link-to-in-sections-pricing {
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}
.link-to-in-sections-pricing p {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.link-to-in-sections-pricing p a.link-to-in-sections-pricing {
    font-weight: 600;
    color: #ffffff;
    text-align: right;
    background-color: #00aedb;
    padding: 5px 13px 3px 13px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
.link-to-in-sections-pricing p a.link-to-in-sections-pricing:hover {
    color: #ffffff;
    background-color: #34c5eb;
    text-decoration: none;
}
.pricing-check-marks ul li {
    font-size: 1.45em;
    font-weight: 300;
    margin-top: 10px;
}
.pricing-check-marks ul li img.pricing-check-list {
    margin-bottom: -5px;
}
.pricing-check-marks {
    margin-bottom: 30px;
}
.pricing-arrow {
    position: relative;
    display: block;
    margin-top: -90px;
    margin-bottom: 20px;
}

.pricing-white-box {
    display: block;
    text-align: center;
    background-color: #ffffff;
    margin: 70px 15px 10px 15px;
    -moz-border-radius: 15px; /* Firefox */
    -webkit-border-radius: 15px; /* Safari, Chrome */
    -khtml-border-radius: 15px; /* KHTML */
    border-radius: 15px; /* CSS3 */
}

.pricing-optional-lightgray-box {
    text-align: center;
    background-color: #f4f4f5;
    margin: 10px;
    min-height: 185px;
    padding: 20px 0;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
}

.pricing-optional-white-box {
    text-align: center;
    background-color: #fff;
    margin: 10px;
    min-height: 185px;
    padding: 20px 0;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
}

.pricing-white-box h1 {
    font-size: 1.9em;
    letter-spacing: 0.02em;
    font-weight: 300;
    margin: 42px 0 20px 0;
    color: #4e5860;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}
.pricing-included-list ul li {
    font-size: 1.45em;
    font-weight: 300;
    margin-top: 10px;
    text-align: left;
    display: block;
}
.pricing-included-list ul li img {
    display: block;
    margin-left: -10px;
}
.pricing-included-list ul li span {
    display: block;
    margin-left: 30px;
    margin-top: -26px;
    margin-bottom: 12px;
    line-height: 1.4em;
}
.pricing-included-list ul li img.pricing-included-list {
    margin-bottom: -5px;
}
@media only screen and (max-width: 767px) {
    .pricing-included-list ul.second-column-stack {
        margin-top: -10px;
    }
}
.pricing-included-list {
    margin:0 0 50px;
}
.pricing-optional-lightgray-box .pricing-optional-list h3.pricing-optional-list {
    color: #2fa6de;
    font-weight: 100;
    font-size: 2.5em;
}

.optional .container {
    clear: left;
    margin: 0;
}
.optional h2 {
    margin-top: 10px;
}
.optional p {
    margin-bottom: 25px;
}
.optional .four, .optional .five, .optional .seven, .optional .nine, .optional .twelve {
    padding: 0;
}
.optional .nine .three div, .optional .four div, .optional .seven .five div, .optional .twelve div {
    background-image: url("/images/html/pricing_sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
}
.optional .nine .three div, .optional .four div, .optional .seven .five div {
    height: 107px;
    margin-top: 15px;
    width: 107px;
}
.optional .chumb .seven .seven h2, .optional .chumb .seven .seven p {
    margin-left: 7px;
}
.optional .seven .eight {
    padding-left: 0;
}
.optional .seven .eight h2 {
    margin-left: -7px;
}
.optional .seven .eight p {
    margin-left: -6px;
}
.optional .websites {
    background-position: -261px 6px;
}
.optional .insurance {
    background-position: -262px -131px;
}
.optional .screening {
    background-position: -395px 7px;
}
.optional .headset {
    background-position: -394px -123px;
}
.optional .fifty {
    background-position: -226px -429px;
    height: 119px;
    margin-bottom: 20px;
    width: 156px;
}
.optional .nine_fifty {
    background-position: -378px -281px;
    height: 116px;
    width: 129px;
}
.optional .person {
    background-position: 0 -270px;
    height: 151px;
    width: 375px;
}
.optional .unit {
    background-position: 0px -434px;
    height: 115px;
    width: 207px;
}

@media only screen and (max-width: 320px) {
    .optional .container.chumb .person {
        background: url("/images/html/res_screening.png") no-repeat 0 0;
        background-size: 290px;
        margin: 0;
        width: 290px;
    }
    .optional .twelve .unit {
        background: url("/images/html/pricing_contact.png") no-repeat 0 0;
        background-size: 175px;
        width: 175px;
    }
}
@media only screen and (max-width: 485px) {
    .optional .nine .three, .optional .seven .four, .optional .seven .eight.columns {
        float: none !important;
        width: 100% !important;
    }
    .optional .columns .websites, .optional .columns .insurance, .optional .columns .screening, .optional .columns .headset, .optional .seven .four .screening {
        margin-right: 0;
    }
    .optional .nine div.three div, .optional .seven div.four div {
        float: none;
        margin-bottom: 20px;
    }
    .optional .seven .eight h2, .optional .seven .eight p {
        margin-left: 0;
    }
    .optional .container.chumb .person {
        background: url("/images/html/res_screening.png") no-repeat 0 0;
        background-size: 290px;
        margin: 0;
        width: 290px;
    }
    .optional .twelve .unit {
        background: url("/images/html/pricing_contact.png") no-repeat 0 0;
        background-size: 175px;
        width: 175px;
    }
    .optional .nine .nine, .optional .seven .eight {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 950px) {
    .optional .chumb .person {
        background: url("/images/html/res_screening.png") no-repeat 0 0;
        background-size: 350px;
        margin-right: 15px;
        width: 350px;
    }
}
@media only screen and (max-width: 870px) {
    .optional .chumb .person {
        background: url("/images/html/res_screening.png") no-repeat 0 0;
        background-size: 300px;
        margin-top: 13px;
        width: 300px;
    }
    .optional .twelve .unit {
        background: url("/images/html/pricing_contact.png") no-repeat 0 0;
        background-size: 175px;
        width: 175px;
    }
    .optional .four .screening {
        margin-top: 5px;
    }
}
@media only screen and (max-width: 767px) {
    .optional .three, .optional .four {
        float: left;
        width: 33.3333% !important;
    }
    .optional .eight.columns, .optional .chumb .seven .seven {
        float: left;
        width: 66.6667% !important;
    }
    .optional .chumb .person {
        background: url("/images/html/pricing_sprite.png") no-repeat 0 -270px;
        display: inline-block;
        height: 151px;
        margin: 0;
        width: 375px;
    }
    .optional .twelve .unit {
        background: url("/images/html/pricing_sprite.png") no-repeat 0px -434px;
        display: inline-block;
        height: 115px;
        margin: 0;
        width: 207px;
    }
    .optional .price_tag {
        width: 100% !important;
    }
    .optional .nine h2, .optional .nine p {
        margin-right: 10px;
    }
    .optional .nine .three div {
        margin-bottom: 40px;
    }
    .optional .websites, .optional .insurance, .optional .screening, .optional .headset {
        text-align: right;
        float: right;
        margin-right: 30px;
    }
    .optional .seven .eight h2, .optional .seven .eight p {
        margin-left: 0;
    }
    .optional .seven div.four div {
        margin-right: 50px;
    }
}

a.buttonForModal img {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    border: 1px solid #bebebe;
    box-shadow: 2px 1px 8px 1px #c5c5c5;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
}
.staticImg {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    border: 1px solid #bebebe;
    box-shadow: 2px 1px 8px 1px #c5c5c5;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
}

.f-content img.defaultImgStyle, .f-container-lg img.defaultImgStyle, .f-container-white img.defaultImgStyle {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    border: 1px solid #bebebe;
    box-shadow: 2px 1px 8px 1px #c5c5c5;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
}

p.modal_window_center {
    text-align: center;
}

h3.features-item-header {
    color: #2fa6de;
    font-weight: 100;
    font-size: 2.5em;
    font-weight: 300;
    font-size: 2.5em;
    text-align: left;
}

#feature-page-top-video img#feature-page {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    border: 1px solid #bebebe;
    box-shadow: 2px 1px 8px 1px #c5c5c5;
    margin-top: 0px;
    padding-top: 0px;
}

@media only screen and (min-width: 768px) {
    h3.features-item-header {
        margin-bottom: 7px;
        margin-top: 7px;
    }
    h3.offset-right-by-ten-mobile {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 767px) {
    h3.features-item-header {
        margin: 25px 10px 7px 10px;
    }
}

#product-feature-home {
    position: absolute;
    text-align: right;
    width: 100%;
    z-index: 39;
}

@media only screen and (max-width: 999px) {
    .breadcrumbs {
        margin: -20px 0 15px;
    }
    #product-feature-home {
        padding: 260px 0 0 0;
    }
    #product-feature-home img {
        width: 25%;
        min-width: 140px;
    }
}
@media only screen and (min-width: 1000px) {
    .breadcrumbs {
        margin: -20px 0 15px;
        padding: 0;
    }
    #product-feature-home {
        padding: 164px 0 0 0;
    }
}
.modal-video-player img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.about-page-callouts {
    margin: 0 auto;
    padding: 0 0 60px 0;
}
.about-page-callouts h2 {
    text-align: center;
    font-size: 2.2em;
    margin-top: 1.5em;
}
.about-page-callouts h5 {
    text-align: center;
    color: #767676;
    font-weight: 200;
    font-size: 1.95em;
}
.about-page-callouts p {
    text-align: center;
    margin: 18px 0 -5px 0;
}

.headshot {
    clear: both;
}
.headshot img {
    float: left;
    margin: 0 10px 20px 0;
}
.headshot p.quote {
    font-family: serif;
    font-size: 20px;
    font-style: italic;
    letter-spacing: -0.8px;
    font-weight: 500;
    padding: 10px 0 5px 0;
    margin: 0;
    line-height: 1.2em;
}
.headshot span.quote-title {
    font-size: 15px;
    font-family: Helvetica;
    font-weight: 200;
    letter-spacing: -0.6px;
}

@media only screen and (min-width: 850px) {
    .quote2container {
        background: url('/images/html/quote-2-marks.png') repeat-x;
    }
}
@media only screen and (max-width: 849px) {
    .quote2container {
        background: url('/images/html/quote-2-marks-medium.png') repeat-x;
    }
    .jobs-emp-photo {
        text-align: center;
    }
}
@media only screen and (max-width: 500px) {
    .quote2container {
        background: url('/images/html/quote-2-marks-small.png') repeat-x;
    }
    .jobs-emp-photo {
        text-align: center;
    }
}

.quote2 {
    font-family: serif;
    font-size: 1.55em !important;
    font-style: italic;
    letter-spacing: -0.8px;
    font-weight: 500;
    margin: 0 0 0.8em 0 !important;
    line-height: 1.2em;
    padding: 0px 50px 0px 50px;
}

.quote2-source {
    font-family: serif;
    color: #999999;
    font-style: italic;
    font-size: 1.5em !important;
    letter-spacing: -0.8px;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0px;
    padding: 0px 50px 0px 50px;
}

.f-content img.jobs-dept-icon {
    vertical-align:text-top;
    margin-top: -12px;
}

.f-content .jobs-dept-link {
    margin-right: 17px;
}

@media only screen and (max-width: 767px) {
    .contact-form {
        -moz-border-radius: 0px; /* Firefox */
        -webkit-border-radius: 0px; /* Safari, Chrome */
        -khtml-border-radius: 0px; /* KHTML */
        border-radius: 0px; /* CSS3 */
        background-color: #E4F6FB;
        padding-bottom: 20px;
    }
    .contact-form form {
        margin: 25px 0 25px 0;
    }
}

@media only screen and (min-width: 768px) {
    .contact-form {
        -moz-border-radius: 10px; /* Firefox */
        -webkit-border-radius: 10px; /* Safari, Chrome */
        -khtml-border-radius: 10px; /* KHTML */
        border-radius: 10px; /* CSS3 */
        background-color: #E4F6FB;
        padding-bottom: 20px;
    }
    .contact-form form {
        margin: 25px;
    }
}

.f-content #jv-alert-link {
    display: block;
    cursor: pointer;
}

/* Headroom.js */
@media only screen and (min-width: 1000px) {
    .headroom-topnav {padding-top: 31px;}
    .headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
    .headroom--unpinned {top: -100px;}
    .headroom--pinned {top: 0;}
    .headroom-top-space {padding-top: 134px;}
}


/* Savings Calculator */

@media only screen and (min-width: 770px) {
    h2.calc_h2 {
        text-align: right;
        margin: 0 0 20px 0;
    }
    p.calc_input_label {
        text-align: right;
    }
    p.calc_input_p input {
        max-width: 200px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 769px) {
    h2.calc_h2 {
        text-align: center;
        margin: 0 0 8px 0;
    }
    p.calc_input_label {
        text-align: center;
    }
    p.calc_input_p input {
        text-align: center;
        max-width: 200px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}

h3.calc_laborcost_h3 {
    margin: 30px 0 30px 0;
}

p.calc_input_p {
    margin: 0px;
    padding: 0px;
}


.calc_labor_cost {
    text-align: center;
    margin: 0 0 80px 0;
    padding: 0px;
}
.calc_labor_cost p {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

@media only screen and (min-width: 880px) {
    .calc_labor_cost p span {
        font-size: 1.5em;
        color: #fff;
        padding: 13px 40px 10px 40px;
        margin: 0 10px 0 10px;
        background-color: #C3C6C8;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 879px) {
    .calc_labor_cost p span {
        font-size: 1em;
        color: #fff;
        padding: 13px 10px 10px 10px;
        margin: 0 5px 0 5px;
        background-color: #C3C6C8;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
}

.calc_labor_cost span.laborcost_default {
    background-color: #00ABDD;
}
#calc_submit {
    text-align: center;
    margin: 50px 10px 100px 10px;
}
#calc_submit #calculate_savings {
    font-size: 1.5em;
    color: #fff;
    padding: 10px 40px 10px 40px;
    margin: 50px 10px 100px 10px;
    border: 0px;
    background-color: #00ABDD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}
div.calc_tool_tip_ico {
    position: absolute;
    top: 5px;
    font-weight: 900;
    padding: 0 0 0 0;
    margin: 1px 0 0 0;
    color: #fff;
    width: 16px;
    text-align: center;
    background-color: #ccc;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;

}
div.calc_tool_tip {
    position: absolute;
    z-index: 100;
    top: -20px;
    padding: 10px;
    left: 50px;
    width: 250px;
    background-color: #E7E9EA;
    color: #505050;
    display: none;
}
#savings_calculator_result {
    border: 1px solid #AFAFAF;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 0 50px 0;
}
#calc_disclaimer {
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 20px 100px 20px 100px;
}
#calculator_results_div h3 {
    max-width: 700px;
    color: #F56900;
}
#calculator_results_div h1 {
    color: #F56900;
    margin-top: -20px;
    margin-bottom: 50px;
    font-size: 4em;
    padding: 0;
}
.calc_results_divider {
    font-weight: 200;
}
p.calc_share_report {
    text-align: right;
}
.results_breakdown_value {
    color: #F56900;
    font-weight: 700;
}
#calc_results_cta {
    color: #fff;
    text-align: center;
    padding: 20px 150px 20px 150px;
    font-size: 1.8em;
    margin: 40px 0 50px 0;
    background-color: #3B464F;
}
.calc_results_itemized {
    padding: 20px 50px 0 50px;
}
